# Ignore virtual env files
.venv

# Data files should never be part of the git
*.nii.gz
*.csv

# Ignore python cache
__pycache__

# Ignore work-in-progress files
*.ipynb

# Unwanted folders
0_Organizing_the_dataset
Elikopy
toy

# Exceptions
!requirements.txt 