# Data files should not be part of the git
*.nii.gz
*.p
*.txt
*.csv

# Ignore python cache
__pycache__

# Ignore work-in-progress files
*.ipynb
prototypes

# Unwanted folders
0_Organizing_the_dataset
Elikopy
toy
